.c-info {
    width: 90%;
    margin: 10px auto;
    display: flex;

    @media (min-width: 800px) {
        justify-content: flex-end;
    }
}
.b-info {
    width: 100%;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid var(--rosa-hard);
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 800px) {
        width: 40%;
        margin: 30px 0;
    }

    &__element {
        width: 30%;
        text-align: center;
        color: var(--rosa-hard);    

        & button {
            width: 100%;
        }
    }
}