/* Variables */

:root {
   --amarillo-hard: #fafd7cff;
   --orange-hard:#fb6467ff;
   --brown-hard:#82491eff;
   --verde-hard:#526e2dff;
   --turquesa-hard:#a6eee6ff;
   --blue-hard:#69c8ecff;
   --rosa-hard:#e762d7ff;
   --gray-hard: #917c5dff;
   --azul-hard:#69c8ecff;
   --naranja-hard: #e89242ff;

   --blanco-hard: #ffffff;
   --negro-hard: #150e2e;

   --azul-soft:#69c9ec9a;
   --blue-soft:#24325fb0;

   --blanco-soft: #ffffffa6;
   --negro-soft: #150e2eb9;
  }